= form_for category, html: {class: ""} do |f|
  - if category.errors.any?
    #error_explanation.alert.alert-danger.alert-dismissable
      %button.close{type: "button", :'data-dismiss' => "alert", :'aria-hidden' => "true"} x
      %ul
        - category.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.text_field :name, class: "form-control form-control-inline" , placeholder: "Name"
  = f.submit 'Save', class: "btn btn-primary"
